#detail{min-width:1536px;}
.nav-l{
    .mc{
        display: none;
    }
    &:hover .mc{
        display: block;
    }
}
.bg-g{
    background-color: #f5f5f5;
    margin-bottom: 20px;
    .breadcrumb{
        height: 46px;
        line-height: 22px;
        vertical-align: baseline;
        background: #fff;
        font-size: 14px;
        padding: 12px 0 12px 20px;
        p{
            font-family: 'microsoft yahei';
            a{
                color: #666;
            }
        }
    }
    .main_tb{
        position: relative;
        z-index: 10;
        padding-left: 425px;
        min-height:500px;
        background-color: #fff;
        padding-top: 5px;
        border-bottom: 1px solid #ddd;
        #name{
            width: 490px;
            font-family: arial, "microsoft yahei";
            h3{
                font-size: 18px;
                font-weight: normal;
                color: #222;
            }
        }
        #summary{
            float: left;
            width: 490px;
            font-size: 14px;
            a{
                color: #e3393c;
            }
            li{
                padding: 8px 0;
                overflow: hidden;
            }
            #summary-price{
                .t{
                    background: url("../img/price-info_bg.jpg") no-repeat;
                    height: 56px;
                    line-height: 56px;
                    text-align: right;
                }
                .p-price{
                    color: #ee3e1b;
                    padding-left:10px;
                    font-size:26px;
                    font-family: microsoft yahei;
                    width: auto;
                    height: 31px;
                    line-height: 30px;
                    margin-top: 13px;
                }
                .b{
                    height: 45px;
                    border-bottom: 1px dashed #cbcad0;
                    width: 100%;
                    padding-left: 20px;
                    .dt{
                        margin-top: 10px;
                    }
                    .b-01{
                        width: auto;
                        border-right:1px solid #a49e9e;
                        padding: 0 30px;
                        &:last-of-type{
                            border:none;
                        }
                    }
                }
            }
            .hl_red{
                color: #2d2d2d;
                span{
                    color: #ff0000;
                }
            }
        }
        .dt{
            float: left;
            width: 50px;
            &.dt01{
                font-size: 16px;
            }
        .dd{
            float: left;
            line-height: 26px;
        } 
        }
        #summary-promotion{
            width: 100%;
            display:block;
            .hl_red_bg{
                background: url("../img/product-details-icon.png") no-repeat 0 -20px;
                color:#fff;
                height: 20px;
                width: 40px;
                line-height: 20px;
                margin-right: 25px;
                display: inline-block;
                text-align: center;
                font-size: 12px;
                letter-spacing: 2px;
            }
            .promotion-l{
                float:left;
                width:440px;
                div{
                    margin-bottom:5px;
                }
            }
        }
        #summary-service{
            span{float: left;}
        }
        .l{
            letter-spacing:3px;
        }
    }
    #brand-bar-pop{
        width: 215px;
        position: absolute;
        top:10px;
        right: 15px;
        #seller{
            font-size: 16px;
            padding-bottom:13px;
        }
        a{
            color:#666;
        }
        dt{
            float: left;
        }
        #hotline{
            padding: 10px 0 10px 10px;
            border-bottom: 1px dashed #ccc8c8;
        }
        h3{
            font-size: 16px;
            color: #222;
            line-height: 30px;
            padding:10px 0 0 12px;
        }
        .pop-ensure{
            line-height: 26px;
            padding-top: 4px;
        }
        dl{
            overflow: hidden;
            padding: 10px 0 0 10px
            ;
        }
    }
    #choose{
        float: left;
        width: 490px;
        margin-bottom: 70px;
        border-top: 1px dashed #cbcad0;
        padding-top:10px;
        font-size: 14px;
        a{
            color: #666;
            display:block;
            white-space: nowrap;
        }
        li{
            overflow: hidden;
            padding :6px 0;

        }
        .dd{
            overflow: hidden;
            width: 440px;
        }
        #choose-amount{
            .wrap-input{
                position: relative;
                padding: 0 35px;
                float: left;
                a{
                    position: absolute;
                    width: 32px;
                    height: 26px;
                    overflow: hidden;
                    border:1px solid #c2c3c4;
                    text-align: center;
                    line-height: 24px;
                    font-size: 18px;
                }
            }
            .btn-reduce{
                left:0;
            }
            .btn-add{
                left: 75px;
            }
            .text{
                width: 34px;
                height: 26px;
                border: 1px solid #ccc;
                padding: 2px;
                text-align: center;
                &::-webkit-outer-spin-button,
                &::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                }
            }
        }
        #choose-btns{
            border-bottom: 0;
            padding-top: 25px;
            .btn{
                float: left;
                height: 50px;
                position: relative;
                cursor: pointer;
                a{
                    padding:0 24px 0 15px;
                    position: relative;
                    font:500 20px/38px "microsoft yahei";
                    text-align: center;
                    color:#fff;
                    float: left;
                    overflow: hidden;
                    line-height: 48px;
                    background: #ff4d50;
                    border-radius:5px;
                }
                #choose-btn-buy a{
                    margin-right: 10px;
                }
            }
            .btn-append{
                width: 154px;
                height: 48px;
            }
            #choose-btn-append a{
                line-height: 44px;
                border:2px solid #ff4d50;
                color: #ff4d50;
                height: 48px;
                background-color: #fff;
            }
        }
    }
}
#preview{
    position: absolute;
    top: 10px;
    left: 20px;
    width: 352px;
    .t_container {
        height: 350px;
        width: 350px;
        overflow: hidden;
        zoom:1;
        .jqzoom{
            // position: relative;
            height: 100%;
            width: 100%;
            border: 1px solid #ccc;
            img{
                display: block;
                border:none;
                width: 100%;
                height: 100%;
            }
        }
    }
    .b_container{
        margin-top: 20px;
        height: 60px;
        width: 300px;
        overflow: hidden;
        zoom:1;
        img{
            display: block;
            border-left: none;
            margin-right: 10px;
            float: left;
            width: 20%;
            height: 60px;
        }
    }
}
span{
    display: inline-block;
}
input{
    font:12px/1.5 tahoma, Arial, 'microsoft yahei', 'SimSun';
}
div.zoomdiv {
    z-index:999;
    position: absolute;
    top:0;
    left:0;
    width : 200px;
    height  : 200px;
    background: #ffffff;
    border:1px solid #CCCCCC;
    display:none;
    text-align: center;
    overflow: hidden;
}
div.jqZoomPup {
    z-index: 999;
    visibility : hidden;
    position  : absolute;
    top:0px;
    left:0px;
    width : 50px;
    height : 50px;
    border: 1px solid #aaa;
    background: #ffffff url(../images/zoomlens.gif) 50% top  no-repeat;
    opacity: 0.5;
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    filter: alpha(Opacity=50);
}